In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
df = pd.read_spss("../data/032017_bddEnemdu_SPSS/201703_EnemduBDD_15anios.sav")

In [3]:
df.head()

,area,ciudad,zona,sector,panelm,vivienda,hogar,p01,p02,p03,...,desem,desemab,desemoc,desem1,desem2,pein,menor10,menor15,pobla10,pobla15
0,Urbana,10150.0,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Población mayor o igual a 10 años,Población mayor o igual a 15 años
1,Urbana,10150.0,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 2,Mujer,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Población mayor o igual a 10 años,Población mayor o igual a 15 años
2,Urbana,10150.0,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 3,Mujer,15.0,...,NaN,NaN,NaN,NaN,NaN,Población Económicamente Inactiva,NaN,NaN,Población mayor o igual a 10 años,Población mayor o igual a 15 años
3,Urbana,10150.0,001,003,Panel K2,Vivienda Dos,Hogar Uno,Persona 1,Mujer,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Población mayor o igual a 10 años,Población mayor o igual a 15 años
4,Urbana,10150.0,001,003,Panel K2,Vivienda Dos,Hogar Uno,Persona 2,Hombre,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Población mayor o igual a 10 años,Población mayor o igual a 15 años

In [4]:
df['ciudad'] = df['ciudad'].astype('int')

In [5]:
df['p45'] #Cuantos años trabaja

/home/lurapozo/anaconda3/envs/ids/lib/python3.9/site-packages/IPython/lib/pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0        20.0
1        20.0
2         NaN
3        40.0
4        30.0
         ...
59237     3.0
59238     7.0
59239     NaN
59240     NaN
59241    58.0
Name: p45, Length: 59242, dtype: category
Categories (77, float64): [0.0, 1.0, 2.0, 3.0, ..., 74.0, 75.0, 78.0, 80.0]

In [6]:
df['p34']

0                                NaN
1                                NaN
2                    No tiene tiempo
3                                NaN
4                                NaN
                    ...
59237                            NaN
59238                            NaN
59239    No está en edad de trabajar
59240                            NaN
59241                            NaN
Name: p34, Length: 59242, dtype: category
Categories (12, object): ['Espera cosecha o temporada de trabajo', 'Espera respuesta a una gestión', 'Espera respuesta de un empleador', 'Está enfermo o incapacitado', ..., 'Piensa que no le darán trabajo', 'Su cónyuge o familia no le permiten', 'Tiene trabajo para empezar inmediatamente', 'Trabajo ocasional']

In [7]:
df['p07'] #asiste a clases

0         No
1         No
2         Si
3         No
4         No
        ...
59237     No
59238     No
59239     Si
59240    NaN
59241     No
Name: p07, Length: 59242, dtype: category
Categories (2, object): ['No', 'Si']

In [8]:
df['p06']

0          Casado(a)
1          Casado(a)
2         Soltero(a)
3        Unión libre
4        Unión libre
            ...
59237     Soltero(a)
59238    Separado(a)
59239     Soltero(a)
59240            NaN
59241       Viudo(a)
Name: p06, Length: 59242, dtype: category
Categories (6, object): ['Casado(a)', 'Divorciado(a)', 'Separado(a)', 'Soltero(a)', 'Unión libre', 'Viudo(a)']

In [9]:
df['p17a']

0                           NaN
1                           NaN
2                           NaN
3        En otro lugar del país
4                           NaN
                  ...
59237                       NaN
59238                       NaN
59239                       NaN
59240                       NaN
59241    En otro lugar del país
Name: p17a, Length: 59242, dtype: category
Categories (2, object): ['En otro lugar del país', 'En otro país']

In [10]:
df['p18']

0                       NaN
1                       NaN
2                       NaN
3        Salud o enfermedad
4                       NaN
                ...
59237                   NaN
59238                   NaN
59239                   NaN
59240                   NaN
59241           Por trabajo
Name: p18, Length: 59242, dtype: category
Categories (8, object): ['Compró o le dieron casa o terreno', 'Estudio', 'Matrimonio', 'Otro, cual', 'Para mejorar ingresos', 'Por trabajo', 'Salud o enfermedad', 'Se vino con la familia']

In [11]:
extranjeros = df.loc[df['p17a'] == 'En otro país', 'p18']
extranjeros

21       Se vino con la familia
22       Se vino con la familia
217                 Por trabajo
228                 Por trabajo
229                 Por trabajo
                  ...
56600    Se vino con la familia
56708               Por trabajo
56761                Matrimonio
58270               Por trabajo
59204               Por trabajo
Name: p18, Length: 1187, dtype: category
Categories (8, object): ['Compró o le dieron casa o terreno', 'Estudio', 'Matrimonio', 'Otro, cual', 'Para mejorar ingresos', 'Por trabajo', 'Salud o enfermedad', 'Se vino con la familia']

In [12]:
extranjeros.value_counts()

Se vino con la familia               527
Por trabajo                          302
Otro, cual                           156
Para mejorar ingresos                 60
Matrimonio                            56
Salud o enfermedad                    35
Compró o le dieron casa o terreno     33
Estudio                               18
Name: p18, dtype: int64

In [13]:
df['p10a'] #Nivel de instruccion

0        Superior Universitario
1        Superior Universitario
2              Educación Básica
3                      Primaria
4                      Primaria
                  ...
59237          Educación  Media
59238    Superior Universitario
59239          Educación Básica
59240                       NaN
59241                   Ninguno
Name: p10a, Length: 59242, dtype: category
Categories (9, object): ['Centro de alfabetización', 'Educación  Media', 'Educación Básica', 'Ninguno', ..., 'Primaria', 'Secundaria', 'Superior Universitario', 'Superior no universitario']

In [14]:
df['SECEMP']

0          Sector Formal
1          Sector Formal
2                    NaN
3        Sector Informal
4        Sector Informal
              ...
59237    Sector Informal
59238      Sector Formal
59239                NaN
59240                NaN
59241    Sector Informal
Name: SECEMP, Length: 59242, dtype: category
Categories (4, object): ['Empleo Doméstico', 'No Clasificados por Sector', 'Sector Formal', 'Sector Informal']

In [15]:
#quitar formal, informalm empdom, nocla que dan la misma info que SECEMP

In [16]:
df['grupo1'] #Grupo de Ocupación CIUO8 (población ocupada de 15 años y más)

0                                     Empleados de oficina
1                Profesionales cient?ficos e intelectuales
2                                                      NaN
3        Trabajadores no calificados, ocupaciones eleme...
4               Operadores de instalac. m?quinas y montad.
                               ...
59237    Trabajadores no calificados, ocupaciones eleme...
59238           Personal direct./admin. p?blica y empresas
59239                                                  NaN
59240                                                  NaN
59241      Trabajad. calificados agropecuarios y pesqueros
Name: grupo1, Length: 59242, dtype: category
Categories (10, object): ['Empleados de oficina', 'Fuerzas Armadas', 'Oficiales operarios y artesanos', 'Operadores de instalac. m?quinas y montad.', ..., 'T?cnicos y profesionales de nivel medio', 'Trabajad. calificados agropecuarios y pesqueros', 'Trabajad. de los servicios y comerciantes', 'Trabajadores no calificados, ocupaciones elem...]

In [17]:
df['rama1'] #Rama de Actividad CIIU4.0 (población ocupada de 15 años y más)

0                             C. Industrias manufactureras
1                                             P. Ense?anza
2                                                      NaN
3        N. Actividades y servicios administrativos y d...
4                           H. Transporte y almacenamiento
                               ...
59237    A. Agricultura, ganader?a caza y silvicultura ...
59238    A. Agricultura, ganader?a caza y silvicultura ...
59239                                                  NaN
59240                                                  NaN
59241    A. Agricultura, ganader?a caza y silvicultura ...
Name: rama1, Length: 59242, dtype: category
Categories (21, object): ['A. Agricultura, ganader?a caza y silvicultura..., 'B. Explotaci?n de minas y canteras', 'C. Industrias manufactureras', 'D. Suministros de electricidad, gas, aire aco..., ..., 'R. Artes, entretenimiento y recreaci?n', 'S. Otras actividades de servicios', 'T  Actividades en hogares privados con servic..., 'U  Actividades de organizaciones extraterrito...]

In [18]:
df['empleo'] #Quienes tienen empleo

0        Población con Empleo
1        Población con Empleo
2                         NaN
3        Población con Empleo
4        Población con Empleo
                 ...
59237    Población con Empleo
59238    Población con Empleo
59239                     NaN
59240                     NaN
59241    Población con Empleo
Name: empleo, Length: 59242, dtype: category
Categories (1, object): ['Población con Empleo']

In [19]:
df['petn']

0        Población en Edad de Trabajar
1        Población en Edad de Trabajar
2        Población en Edad de Trabajar
3        Población en Edad de Trabajar
4        Población en Edad de Trabajar
                     ...
59237    Población en Edad de Trabajar
59238    Población en Edad de Trabajar
59239                              NaN
59240                              NaN
59241    Población en Edad de Trabajar
Name: petn, Length: 59242, dtype: category
Categories (1, object): ['Población en Edad de Trabajar']

In [20]:
df['pean']

0        Población Económicamente Activa
1        Población Económicamente Activa
2                                    NaN
3        Población Económicamente Activa
4        Población Económicamente Activa
                      ...
59237    Población Económicamente Activa
59238    Población Económicamente Activa
59239                                NaN
59240                                NaN
59241    Población Económicamente Activa
Name: pean, Length: 59242, dtype: category
Categories (1, object): ['Población Económicamente Activa']

In [21]:
df['sub']

0              NaN
1              NaN
2              NaN
3        Subempleo
4              NaN
           ...
59237    Subempleo
59238          NaN
59239          NaN
59240          NaN
59241          NaN
Name: sub, Length: 59242, dtype: category
Categories (1, object): ['Subempleo']

In [22]:
df['desem']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
59237    NaN
59238    NaN
59239    NaN
59240    NaN
59241    NaN
Name: desem, Length: 59242, dtype: category
Categories (1, object): ['Desempleo']

In [23]:
df['sub_w']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
59237    NaN
59238    NaN
59239    NaN
59240    NaN
59241    NaN
Name: sub_w, Length: 59242, dtype: category
Categories (1, object): ['Subempleo por insuficiencia de ingresos']

In [24]:
df['oinad']

0                         NaN
1                         NaN
2                         NaN
3                         NaN
4        Otro empleo no pleno
                 ...
59237                     NaN
59238                     NaN
59239                     NaN
59240                     NaN
59241    Otro empleo no pleno
Name: oinad, Length: 59242, dtype: category
Categories (1, object): ['Otro empleo no pleno']

In [25]:
df['ced01a'] #Cedula de identidad Tal vez sirva

0                 Si
1                 Si
2                 Si
3                 Si
4        No responde
            ...
59237             Si
59238             Si
59239             Si
59240             Si
59241             Si
Name: ced01a, Length: 59242, dtype: category
Categories (3, object): ['No', 'No responde', 'Si']

In [26]:
df['ingrl'] #Ingreso del trabajo

0        1072.0
1         410.0
2           NaN
3         120.0
4         320.0
          ...
59237       NaN
59238     949.0
59239       NaN
59240       NaN
59241     300.0
Name: ingrl, Length: 59242, dtype: category
Categories (1715, object): [0.0, 1.0, 2.0, 3.0, ..., 22000.0, 27000.0, 'Gasta mas de lo que gana', 'No informa']

In [27]:
df['p50'] #Cuantos trabajos tiene

0        Uno
1        Uno
2        NaN
3        Uno
4        Uno
        ...
59237    Uno
59238    Uno
59239    NaN
59240    NaN
59241    Uno
Name: p50, Length: 59242, dtype: category
Categories (2, object): ['Mas de uno', 'Uno']

In [28]:
df['p38'] #Motivos por que dejo de trabajar

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
59237    NaN
59238    NaN
59239    NaN
59240    NaN
59241    NaN
Name: p38, Length: 59242, dtype: category
Categories (9, object): ['Despido intempestivo', 'Fue mal en el negocio', 'Liquidación empresa', 'Otro', ..., 'Se jubiló o pensionaron', 'Supresión partidas', 'Terminación contrato', 'Termino ciclo agrícola']

In [29]:
df['p36'] #Condicion de inactividad (porque no puede trabajar)

0               NaN
1               NaN
2        Estudiante
3               NaN
4               NaN
            ...
59237           NaN
59238           NaN
59239    Estudiante
59240           NaN
59241           NaN
Name: p36, Length: 59242, dtype: category
Categories (6, object): ['Ama de casa', 'Estudiante', 'Incapacitado', 'Jubilado pensión', 'Otro', 'Rentista']

In [30]:
df['p34'] #Por que no busco trabajo

0                                NaN
1                                NaN
2                    No tiene tiempo
3                                NaN
4                                NaN
                    ...
59237                            NaN
59238                            NaN
59239    No está en edad de trabajar
59240                            NaN
59241                            NaN
Name: p34, Length: 59242, dtype: category
Categories (12, object): ['Espera cosecha o temporada de trabajo', 'Espera respuesta a una gestión', 'Espera respuesta de un empleador', 'Está enfermo o incapacitado', ..., 'Piensa que no le darán trabajo', 'Su cónyuge o familia no le permiten', 'Tiene trabajo para empezar inmediatamente', 'Trabajo ocasional']

In [31]:
df['p35'] #Si quiere trabajar

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
59237    NaN
59238    NaN
59239    NaN
59240    NaN
59241    NaN
Name: p35, Length: 59242, dtype: category
Categories (2, object): ['No', 'Si']

In [32]:
df['p15'] #Raza

0        Mestizo
1        Mestizo
2        Mestizo
3        Mestizo
4        Mestizo
          ...
59237    Mestizo
59238    Mestizo
59239    Mestizo
59240        NaN
59241    Mestizo
Name: p15, Length: 59242, dtype: category
Categories (8, object): ['Afroecuatoriano', 'Blanco', 'Indígena', 'Mestizo', 'Montubio', 'Mulato', 'Negro', 'Otro, cual']

In [33]:
df['p51c']

/home/lurapozo/anaconda3/envs/ids/lib/python3.9/site-packages/IPython/lib/pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
59237   NaN
59238   NaN
59239   NaN
59240   NaN
59241   NaN
Name: p51c, Length: 59242, dtype: category
Categories (11, float64): [0.0, 1.0, 2.0, 3.0, ..., 7.0, 8.0, 10.0, 14.0]

In [34]:
cant = gpd.read_file("../data/SHP/nxcantones.shp")

In [35]:
parr = gpd.read_file("../data/SHP/nxparroquias.shp")

In [36]:
prov = gpd.read_file("../data/SHP/nxprovincias.shp")

In [37]:
df.iloc[:,:4]

         area  ciudad zona sector
0      Urbana   10150  001    003
1      Urbana   10150  001    003
2      Urbana   10150  001    003
3      Urbana   10150  001    003
4      Urbana   10150  001    003
...       ...     ...  ...    ...
59237   Rural  900451  999    007
59238   Rural  900451  999    007
59239   Rural  900451  999    007
59240   Rural  900451  999    007
59241   Rural  900451  999    007

[59242 rows x 4 columns]

In [38]:
parr.head()

,DPA_PARROQ,DPA_DESPAR,DPA_VALOR,DPA_ANIO,DPA_CANTON,DPA_DESCAN,DPA_PROVIN,DPA_DESPRO,geometry
0,020150,GUARANDA,0,2012,0201,GUARANDA,02,BOLIVAR,"POLYGON ((736004.379 9838239.905, 736006.324 9..."
1,020151,FACUNDO VELA,0,2012,0201,GUARANDA,02,BOLIVAR,"POLYGON ((716027.651 9868847.197, 716028.320 9..."
2,020153,JULIO E. MORENO (CATANAHUAN GRANDE),0,2012,0201,GUARANDA,02,BOLIVAR,"POLYGON ((721344.030 9824034.783, 721314.366 9..."
3,020155,SALINAS,0,2012,0201,GUARANDA,02,BOLIVAR,"POLYGON ((705426.023 9858768.396, 705493.833 9..."
4,020156,SAN LORENZO,0,2012,0201,GUARANDA,02,BOLIVAR,"POLYGON ((737792.824 9814211.296, 738001.238 9..."

In [39]:
parr['DPA_PARROQ'] = parr['DPA_PARROQ'].astype('int')

In [40]:
region = df.merge(parr, left_on = "ciudad", right_on = "DPA_PARROQ")

In [41]:
region.head()

,area,ciudad,zona,sector,panelm,vivienda,hogar,p01,p02,p03,...,pobla15,DPA_PARROQ,DPA_DESPAR,DPA_VALOR,DPA_ANIO,DPA_CANTON,DPA_DESCAN,DPA_PROVIN,DPA_DESPRO,geometry
0,Urbana,10150,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 1,Hombre,54.0,...,Población mayor o igual a 15 años,10150,CUENCA,0,2012,0101,CUENCA,01,AZUAY,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
1,Urbana,10150,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 2,Mujer,53.0,...,Población mayor o igual a 15 años,10150,CUENCA,0,2012,0101,CUENCA,01,AZUAY,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
2,Urbana,10150,001,003,Panel K2,Vivienda Uno,Hogar Uno,Persona 3,Mujer,15.0,...,Población mayor o igual a 15 años,10150,CUENCA,0,2012,0101,CUENCA,01,AZUAY,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
3,Urbana,10150,001,003,Panel K2,Vivienda Dos,Hogar Uno,Persona 1,Mujer,51.0,...,Población mayor o igual a 15 años,10150,CUENCA,0,2012,0101,CUENCA,01,AZUAY,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
4,Urbana,10150,001,003,Panel K2,Vivienda Dos,Hogar Uno,Persona 2,Hombre,47.0,...,Población mayor o igual a 15 años,10150,CUENCA,0,2012,0101,CUENCA,01,AZUAY,"POLYGON ((724179.847 9687634.625, 724188.327 9..."

In [42]:
datos = region[[
    'area','ciudad','zona', 'sector',  'vivienda', 'p01', 'p02', 'p03',
    'p06', 'p07', 'p10a', 'p17a', 'p18', 'p34', 'p45', 'SECEMP', 
    'grupo1', 'rama1', 'empleo', 'sub', 'petn', 'pean', 'desem',
    'sub_w', 'oinad', 'ced01a', 'ingrl', 'p50', 'p38', 'p36', 'p35', 'p15',
    'p51c', 'DPA_PARROQ', 'DPA_DESPAR', 'geometry'
]]

In [43]:
datos.head()

,area,ciudad,zona,sector,vivienda,p01,p02,p03,p06,p07,...,ingrl,p50,p38,p36,p35,p15,p51c,DPA_PARROQ,DPA_DESPAR,geometry
0,Urbana,10150,001,003,Vivienda Uno,Persona 1,Hombre,54.0,Casado(a),No,...,1072.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
1,Urbana,10150,001,003,Vivienda Uno,Persona 2,Mujer,53.0,Casado(a),No,...,410.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
2,Urbana,10150,001,003,Vivienda Uno,Persona 3,Mujer,15.0,Soltero(a),Si,...,NaN,NaN,NaN,Estudiante,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
3,Urbana,10150,001,003,Vivienda Dos,Persona 1,Mujer,51.0,Unión libre,No,...,120.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
4,Urbana,10150,001,003,Vivienda Dos,Persona 2,Hombre,47.0,Unión libre,No,...,320.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."

In [44]:
datos.rename(columns = {'p01':'persona', 'p02':'genero', 'p03':'edad',
                       'p06':'estado_civil', 'p07':'asiste_clases',
                       'p10a':'nivel_instruccion', 'p17a':'extranjero',
                       'p18':'razon_emigracion', 'p34':'razon_no_busco_trabajo',
                       'p45':'anios_trabajando', 'SECEMP':'sector_empleado',
                       'grupo1':'grupo_ocupacion', 'rama1':'rama_actividad',
                       'petn':'edad_trabajar', 'pean':'econom_activa',
                       'desem':'desempleo', 'sub_w':'sub_pocos_ingresos',
                       'oinad':'emp_no_pleno', 'ced01a': 'cedula', 'ingrl':'ingresos_trabajo',
                       'p50':'num_trabajos', 'p38':'mot_dejo_trab', 'p36':'trab_sem_pasada',
                       'p35':'desea_trab', 'p15':'raza', 'p51c':'horas_trab'}, inplace = True)

<ipython-input-44-e91b53fe2776>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos.rename(columns = {'p01':'persona', 'p02':'genero', 'p03':'edad',

In [45]:
datos.head()

,area,ciudad,zona,sector,vivienda,persona,genero,edad,estado_civil,asiste_clases,...,ingresos_trabajo,num_trabajos,mot_dejo_trab,trab_sem_pasada,desea_trab,raza,horas_trab,DPA_PARROQ,DPA_DESPAR,geometry
0,Urbana,10150,001,003,Vivienda Uno,Persona 1,Hombre,54.0,Casado(a),No,...,1072.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
1,Urbana,10150,001,003,Vivienda Uno,Persona 2,Mujer,53.0,Casado(a),No,...,410.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
2,Urbana,10150,001,003,Vivienda Uno,Persona 3,Mujer,15.0,Soltero(a),Si,...,NaN,NaN,NaN,Estudiante,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
3,Urbana,10150,001,003,Vivienda Dos,Persona 1,Mujer,51.0,Unión libre,No,...,120.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."
4,Urbana,10150,001,003,Vivienda Dos,Persona 2,Hombre,47.0,Unión libre,No,...,320.0,Uno,NaN,NaN,NaN,Mestizo,NaN,10150,CUENCA,"POLYGON ((724179.847 9687634.625, 724188.327 9..."

In [46]:
datos.columns

Index(['area', 'ciudad', 'zona', 'sector', 'vivienda', 'persona', 'genero',
       'edad', 'estado_civil', 'asiste_clases', 'nivel_instruccion',
       'extranjero', 'razon_emigracion', 'razon_no_busco_trabajo',
       'anios_trabajando', 'sector_empleado', 'grupo_ocupacion',
       'rama_actividad', 'empleo', 'sub', 'edad_trabajar', 'econom_activa',
       'desempleo', 'sub_pocos_ingresos', 'emp_no_pleno', 'cedula',
       'ingresos_trabajo', 'num_trabajos', 'mot_dejo_trab', 'trab_sem_pasada',
       'desea_trab', 'raza', 'horas_trab', 'DPA_PARROQ', 'DPA_DESPAR',
       'geometry'],
      dtype='object')

In [47]:
datos['ingresos_trabajo'] = datos['ingresos_trabajo'].cat.remove_categories(["Gasta mas de lo que gana", "No informa"])

<ipython-input-47-27f71d5e22d2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['ingresos_trabajo'] = datos['ingresos_trabajo'].cat.remove_categories(["Gasta mas de lo que gana", "No informa"])

In [48]:
datos['ingresos_trabajo'] = datos['ingresos_trabajo'].astype('float')

<ipython-input-48-5d88c6bcb485>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['ingresos_trabajo'] = datos['ingresos_trabajo'].astype('float')

In [49]:
datos['ingresos_trabajo'].dtype

dtype('float64')

In [50]:
datos['edad'] = datos['edad'].replace('98 y más', '98.0')

<ipython-input-50-ae3aefef357d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['edad'] = datos['edad'].replace('98 y más', '98.0')

In [51]:
datos['edad'] = datos['edad'].cat.remove_categories("No informa")

<ipython-input-51-2f22d538c027>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['edad'] = datos['edad'].cat.remove_categories("No informa")

In [52]:
datos['edad'] = datos['edad'].astype('float')

<ipython-input-52-41473f4523fc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['edad'] = datos['edad'].astype('float')

In [53]:
datos['extranjero'] = datos['extranjero'].replace('En otro país', 'Extranjero')

<ipython-input-53-8e1dba68aba1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['extranjero'] = datos['extranjero'].replace('En otro país', 'Extranjero')

In [54]:
datos['horas_trab'] = datos['horas_trab'].astype('float')

<ipython-input-54-6cfeffbb05ce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['horas_trab'] = datos['horas_trab'].astype('float')

In [55]:
ext = datos

In [56]:
ext['extranjero'] = ext['extranjero'].replace('En otro lugar del país', 'Ecuatoriano')

<ipython-input-56-08c527d6559e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ext['extranjero'] = ext['extranjero'].replace('En otro lugar del país', 'Ecuatoriano')

In [57]:
ext['extranjero'] = ext['extranjero'].fillna('Ecuatoriano')

<ipython-input-57-8c83f07ffd8d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ext['extranjero'] = ext['extranjero'].fillna('Ecuatoriano')

# Cuantas personas trabajan en relacion a nivel de instruccion

In [58]:
ext_trab = ext.loc[(ext['razon_emigracion'] != 'Por trabajo') & (ext['edad_trabajar'] == 'Población en Edad de Trabajar')]

In [59]:
ext_emp = ext_trab.groupby(['extranjero', 'nivel_instruccion'])[['desempleo', 'empleo']].agg('count').reset_index()

In [60]:
#fig = px.bar(ext, x="nivel_instruccion", y="edad", color="extranjero")
#fig.show()

In [61]:
ext_emp

     extranjero          nivel_instruccion  desempleo  empleo
0   Ecuatoriano   Centro de alfabetización          3     130
1   Ecuatoriano           Educación  Media        254    2530
2   Ecuatoriano           Educación Básica         55    1333
3   Ecuatoriano                    Ninguno          8     827
4   Ecuatoriano                 Post-grado         14     372
5   Ecuatoriano                   Primaria        137    7217
6   Ecuatoriano                 Secundaria        275    6381
7   Ecuatoriano     Superior Universitario        316    4169
8   Ecuatoriano  Superior no universitario         27     471
9    Extranjero   Centro de alfabetización          0       1
10   Extranjero           Educación  Media          5      25
11   Extranjero           Educación Básica          0      18
12   Extranjero                    Ninguno          0       9
13   Extranjero                 Post-grado          4      12
14   Extranjero                   Primaria          3     107
15   Extranjero                 Secundaria         12     172
16   Extranjero     Superior Universitario         11      90
17   Extranjero  Superior no universitario          3      17

In [62]:
ntrab = datos.loc[datos["num_trabajos"].notnull()]

In [63]:
ntrab.groupby('num_trabajos')['ingresos_trabajo'].mean()

num_trabajos
Mas de uno    477.480407
Uno           473.477051
Name: ingresos_trabajo, dtype: float64

In [64]:
ntrab.groupby('nivel_instruccion')['ingresos_trabajo'].mean()

nivel_instruccion
Centro de alfabetización      181.885417
Educación  Media              316.565806
Educación Básica              240.928767
Ninguno                       173.393557
Post-grado                   1537.670282
Primaria                      304.007296
Secundaria                    445.589545
Superior Universitario        822.454237
Superior no universitario     668.249513
Name: ingresos_trabajo, dtype: float64

In [65]:
ing_raza = datos.groupby(['raza', 'nivel_instruccion'])['ingresos_trabajo'].mean().reset_index()

In [67]:
ing_raza.head(10)

              raza          nivel_instruccion  ingresos_trabajo
0  Afroecuatoriano   Centro de alfabetización               NaN
1  Afroecuatoriano           Educación  Media        369.117647
2  Afroecuatoriano           Educación Básica        251.900000
3  Afroecuatoriano                    Ninguno        110.000000
4  Afroecuatoriano                 Post-grado       2355.333333
5  Afroecuatoriano                   Primaria        272.682540
6  Afroecuatoriano                 Secundaria        451.434109
7  Afroecuatoriano     Superior Universitario        811.000000
8  Afroecuatoriano  Superior no universitario        796.875000
9           Blanco   Centro de alfabetización        100.000000